<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="events.com.example.tazeen.codesprint">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/events"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name="events.example.tazeen.codesprint.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="events.example.tazeen.codesprint.MainActivity"
            android:label="MainActivity"/>
        <activity
            android:name="events.example.tazeen.codesprint.Voise"
            android:label="Voise" />
        <activity
            android:name="events.example.tazeen.codesprint.Edc"
            android:label="Edc" />
        <activity
            android:name="events.example.tazeen.codesprint.Sports"
            android:label="Sports" />
        <activity
            android:name="events.example.tazeen.codesprint.CulturalActivities"
            android:label="Cultural Activities" />
        <activity android:name="events.example.tazeen.codesprint.AdminLogin" />
        <activity android:name="events.example.tazeen.codesprint.EventForm" />

        <service android:name="events.example.tazeen.codesprint.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.example.tazeen.codesprint.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="events.example.tazeen.codesprint.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.example.tazeen.codesprint.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="events.example.tazeen.codesprint.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.tazeen.codesprint.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
    </application>

</manifest>